.custom-select {
  &__control {
    transition: all 0ms !important;
    box-shadow: none !important;
    cursor: pointer !important;
    height: 100%;
    border-radius: 8px !important;
    background-color: var(--main-color) !important;
    border: 1px solid var(--border-color) !important;
    &--menu-is-open {
      border-radius: 8px 8px 0 0 !important;
      border-bottom: none !important;
      svg {
        transition: transorm 0.2s ease-in;
        transform: rotate(180deg);
      }
    }
  }
  &__menu {
    overflow: hidden;
    margin: 0 !important;
    border: 1px solid var(--border-color) !important;
    border-top: 1px solid var(--gray-color) !important;
    border-radius: 0 0 8px 8px !important;
    background: var(--main-color) !important;
    &-list {
      border-radius: 0 0 8px 8px !important;
      max-height: 345px !important;
    }
  }
  &__indicator {
    cursor: pointer;
  }
  &__indicator-separator {
    display: none;
  }
  &__option {
    background: var(--main-color) !important;
    color: var(--secondary-color) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    padding: 8px 30px !important;
    &:hover {
      background: var(--secondary-color) !important;
      color: var(--main-color) !important;
    }
  }
  &__single-value {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: var(--secondary-color) !important;
  }
  &__value-container {
    padding-left: 15px !important;
    padding-right: 10px !important;
    margin: 0 !important;
  }
  &__menu-list::-webkit-scrollbar {
    width: 9px;
    height: 0px;
  }
  &__menu-list::-webkit-scrollbar-track {
    background: var(--main-color);
  }
  &__menu-list::-webkit-scrollbar-thumb {
    background: var(--gray-color);
    border-radius: 10px;
  }
  &__menu-list::-webkit-scrollbar-thumb:hover {
    background: var(--gray-color);
  }
  &__indicator {
    svg {
      color: var(--gray-color) !important;
    }
  }
  &__dropdown-indicator {
    padding: 0 !important;
    padding-right: 18px !important;
  }
  &__clear-indicator {
    padding: 0 !important;
    margin-right: 10px !important;
  }
  &__input {
    color: var(--secondary-color) !important;
  }
  &__placeholder {
    color: var(--gray-color) !important;
  }
}

@media (max-width: 1024px) {
  .custom-select {
    &__option {
      padding-left: 10px !important;
    }
  }
}
