@import './../src/assets/custom-select.scss';

/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/roboto-v30-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --main-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --gray-color: rgba(255, 255, 255, 0.3);
  --border-color: #fff;
  --hover-color: #464646;
  --light-color: #fff;
}

:root.light-theme {
  --main-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);
  --gray-color: rgba(0, 0, 0, 0.3);
  --border-color: rgba(0, 0, 0, 0.3);
  --hover-color: #ededed;
  --light-color: #efefef;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  background: var(--main-color);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 34px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}